:root {
  --bg: #282c34;
  --header: #fff;
  --link: #61dafb;
  --text: hsla(0, 0%, 100%, 0.88);
}

/* html { font-size: 1vw; } */

/* h1 {
  font-size: 4vh;
}

h2 {
  font-size: 3vh;
}

h3 {
  font-size: 2vh
} */

.centered_text {
  text-align: center;
}